.site-layout .site-layout-background {
  background: #fff;
}
[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}


th {
  text-align: center !important;
  background-color: #303641 !important;
  color: #ffffffa6 !important;
}
